@media (min-width: 1400px) {
}
@media (max-width: 1395px) {
  .element ul li a {
    font-size: 15px;
  }
  .element ul {
    gap: 18px;
  }
  .img-sub-header {
    height: 110%;
  }
  .text-books-index ul li {
    font-size: 15px;
  }
  .element-footer ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .img-sub-header {
    width: 130%;
    height: 130%;
    transform: translateX(-20px) translateY(-86px);
  }
  .text-books-index h2 {
    font-family: "medium";
    margin-bottom: 20px;
    font-size: 19px;
  }
  .img-book-index {
    width: 39%;
    height: 310px;
  }
  .text-books-index ul li {
    font-size: 13px;
  }
  .img-videos-index {
    height: 200px;
  }
  .text-videos-index p {
    font-size: 14px;
  }
  .element-footer ul li a {
    font-size: 14px;
  }
  .element ul li a {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .element {
    display: none;
  }
  .icons-top-ber {
    display: none;
  }

  .navicon {
    display: block;
  }
  .menu-div {
    display: block;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0px;
  }
  .text-sub-header {
    justify-content: center;
    text-align: center;
  }
  .img-sub-header {
    -webkit-mask-image: none;
    mask-image: none;
  }
  .img-sub-header {
    width: 59%;
    border-radius: 10px;
    margin: 40px auto 40px;
    height: 350px;
    transform: none;
  }
  .text-sub-header {
    width: 90%;
    height: 100%;
    padding-top: 140px;
    margin: auto;
  }
  .text-sub-header p {
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .main-sub-header::before {
    margin: auto;
    right: 0;
    left: 0;
    width: 50%;
  }
  .main-sub-header::after {
    margin: auto;
    right: 0;
    left: 0;
    width: 50%;
  }
  .sub-videos-index {
    margin: 10px 0;
  }
  .img-videos-index {
    height: 235px;
  }
  .text-blog-index {
    text-align: center;
  }
  .text-blog-index h4 {
    justify-content: center;
  }
  .text-blog-index p {
    text-align: center;
    margin: 30px 0;
  }
  .img-blog-index {
    -webkit-mask-image: none;
    mask-image: none;
  }
  .img-blog-index {
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
  }
  .main-img-blog-index::after,
  .main-img-blog-index::before {
    width: 50%;
  }
  .footer {
    text-align: center;
  }
  .element-footer ul {
    justify-content: center;
    margin: 10px auto;
  }
  .arrow-top {
    text-align: center;
    margin: 35px auto 10px;
  }
  .end-page {
    flex-wrap: wrap;
  }
  .sub-book-index {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text-books-index {
    width: 100%;
  }
  .img-book-index {
    width: 50%;
    height: 310px;
  }
  .sub-books-details .img-book-index {
    width: 30%;
  }
  .sub-books-details .text-books-index {
    width: 67%;
  }
  .sub-videos-details {
    width: 100%;
  }
  .sub-videos-details iframe {
    height: 300px;
  }
  .sub-videos-details p {
    line-height: 25px;
    margin: 20px 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .element-footer ul {
    flex-wrap: wrap;
  }
  .element-footer ul li {
    display: block;
    width: 100%;
  }
  .text-live-aboutus ul li {
    padding: 0px 30px 0px 0px;
    margin: 20px 0;
    font-size: 15px;
  }
  .text-live-aboutus ul li::after {
    top: 3px;
    width: 20px;
    height: 20px;
  }
  .activity-aboutus ul li {
    padding: 0px 30px 0px 0px;
    margin: 19px 0;
    font-size: 16px;
  }
  .activity-aboutus ul li::after {
    top: 6px;
    width: 20px;
    height: 20px;
  }
  .sub-books-details .text-books-index {
    width: 100%;
  }
  .sub-books-details .img-book-index {
    width: 45%;
  }
  .contactus form {
    width: 100%;
  }
  .input-form label {
    font-size: 16px;
  }
  .contactus {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .end-page {
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-blog-index {
    width: 80%;
  }
  .img-sub-header {
    width: 65%;
    height: 260px;
  }
  .img-book-index {
    width: 70%;
    height: 310px;
  }
  .end-page {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .text-sub-header h2,
  .text-sub-header h4 {
    font-size: 22px;
    width: 100%;
  }
  .text-sub-header {
    gap: 10px;
  }
  p {
    font-size: 14px;
    line-height: 25px;
  }
  .title-start,
  .title-center {
    margin-bottom: 30px;
  }
  .mr-section {
    margin: 30px 0;
  }
  .menu_responsive {
    width: 310px;
  }
  .text-blog-index p {
    text-align: center;
    margin: 15px 0;
  }
  .owl-theme .owl-nav {
    position: absolute;
    top: -123px;
  }
  .ctm-btn {
    height: 40px;
    padding: 8px 25px;
    font-size: 14px;
  }
  .logo {
    max-width: 185px;
  }
  .top-par {
    padding: 15px 0;
    height: 80px;
  }
  .text-sub-header {
    padding-top: 105px;
  }
  h1 {
    font-size: 22px;
  }
  .header-pages .sub-header {
    min-height: 290px;
    padding-top: 80px;
  }
  .navigation-header {
    flex-wrap: wrap;
  }
  .navigation-header a,
  .navigation-header {
    font-size: 14px;
  }
  .sub-books-details .img-book-index {
    width: 75%;
  }
  .navigation-header img {
    width: 18px;
  }
  .pagination ul li {
    width: 30px;
    height: 30px;
  }
  .pagination ul li a {
    font-size: 16px;
  }
  .title-start h2,
  .title-center h2 {
    font-size: 18px;
    padding-right: 35px;
  }
  .sub-videos-details iframe {
    height: 200px;
  }
  .share-blog {
    flex-wrap: wrap;
    gap: 18px;
  }
  .share-blog ul li a {
    width: 35px;
    height: 35px;
  }
  .share-blog ul {
    width: 100%;
  }
}
@media (max-width: 450px) {
}
