body {
    text-align: right;
    direction: rtl;
}

.icons-top-par ul {
    justify-content: left;
}

.top-par {
    right: 0;
}

.icons-top-ber ul li a::after {
    right: 0;
}

.element ul .dot {
    left: 0;
}

.img-sub-header {
    transform: translateX(-70px);
    -webkit-mask-position: left;
    mask-position: left;
}

.main-sub-header::after {
    left: -20%;
}

.main-sub-header::before {
    left: -30%;
}

.title-start h2,
.title-center h2 {
    padding-right: 40px;
}

.title-start h2::after,
.title-center h2::after {
    right: 0;
}

.img-videos-index::after {
    right: 0;
}

.owl-theme .owl-nav {
    justify-content: end;
}

button.owl-prev {
    transform: scaleX(-1);
}

.blog-index::after {
    left: 0;
}

.blog-index::before {
    right: 0;
}

.text-aboutus::after {
    left: 0;
}

.text-live-aboutus ul li {
    padding: 0px 40px 0px 0px;
}
.text-live-aboutus ul li::after {
    right: 0;
}

.activity-aboutus ul li {
    padding: 0px 40px 0px 0px;
}
.activity-aboutus ul li::after {
    right: 0;
}

.activity-aboutus::after {
    left: 0;
}

.input-search input {
    padding-left: 50px;
}

.input-search button {
    left: 0;
}
